name: Docker

on:
  schedule:
    - cron: '0 7 * * 0'
  push:
    branches:
      - '*'
  pull_request:

env:
  IMAGE_NAME: compose
  CACHEKEY_BINARIES: binaries
  PLATFORMS: linux/amd64,linux/arm64,linux/arm/v7

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        distro: [ 'alpine', 'debian' ]
        registry: [ 'docker.io' ]
        include:
#          - registry: 'docker.pkg.github.com'
#            repository: ${{ github.repository }}
#            username: ${{ github.actor }}
#            token: 'GITHUB_TOKEN'
          - registry: 'docker.io'
            repository: 'DOCKER_HUB_USERNAME'
            username: 'DOCKER_HUB_USERNAME'
            token: 'DOCKER_HUB_TOKEN'
    env:
      IMAGE_URL: "${{ matrix.registry }}/${{ secrets[matrix.repository] || matrix.repository }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache/${{ env.CACHEKEY_BINARIES }}
          key: ${{ runner.os }}-buildx-${{ env.CACHEKEY_BINARIES }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ env.CACHEKEY_BINARIES }}-
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - name: Log into registry
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' || github.event_name == 'schedule' }}
        run: |
          echo "${{ secrets[matrix.token] }}" | \
          docker login ${{ matrix.registry }} \
            -u ${{ secrets[matrix.username] || matrix.username }} \
            --password-stdin
      - name: Build and push
        run: |
          if [ "${{ matrix.distro }}" == "alpine" ]; then
            echo "Additional arg: latest tag"
            LATEST_TAG_ARG="-t ${{ env.IMAGE_URL }}/${{ env.IMAGE_NAME }}:latest"
          fi

          if [ "${{ github.event_name }}" == "push" ] && [ "${{ github.ref }}" == "refs/heads/master" ] || [ "${{ github.event_name }}" == "schedule" ]; then
            echo "Additional arg: push"
            PUSH_ARG="--push"
          fi

          echo "Tag: ${{ env.IMAGE_URL }}/${{ env.IMAGE_NAME }}:${{ matrix.distro }}"
          echo "Platforms: ${{ env.PLATFORMS }}"

          docker build -f Dockerfile.${{ matrix.distro }} -t ${{ env.IMAGE_URL }}/${{ env.IMAGE_NAME }}:${{ matrix.distro }} ${LATEST_TAG_ARG} --platform ${{ env.PLATFORMS }} ${PUSH_ARG} .
