name: Docker

on:
  push:
    branches:
      - '*'
  pull_request:
  workflow_run:
    workflows:
      - 'Upstream sync'
    types:
      - 'completed'

env:
  IMAGE_NAME: compose
  PLATFORMS: linux/amd64,linux/arm64,linux/arm/v7

jobs:
  build:
    if: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success' || github.event_name != 'workflow_run' }}
    strategy:
      fail-fast: false
      matrix:
        distro: [ 'alpine', 'debian' ]
        registry: [ 'docker.io' ]
        include:
#          - registry: 'docker.pkg.github.com'
#            repository: ${{ github.repository }}
#            username: ${{ github.actor }}
#            token: 'GITHUB_TOKEN'
          - registry: 'docker.io'
            repository: 'DOCKER_HUB_USERNAME'
            username: 'DOCKER_HUB_USERNAME'
            token: 'DOCKER_HUB_TOKEN'
    env:
      IMAGE_URL: "${{ matrix.registry }}/${{ secrets[matrix.repository] || matrix.repository }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true
      - uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ matrix.distro }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ matrix.distro }}
      - name: Build
        run: |
          docker build \
            --cache-from "type=local,src=/tmp/.buildx-cache" \
            --cache-to "type=local,dest=/tmp/.buildx-cache" \
            --platform  ${{ env.PLATFORMS }} \
            --output "type=image,push=false" \
            --file Dockerfile.${{ matrix.distro }} .
      - name: Log into registry
        if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_run') && github.ref == 'refs/heads/master' }}
        run: |
          echo "${{ secrets[matrix.token] }}" | \
          docker login ${{ matrix.registry }} \
            -u ${{ secrets[matrix.username] || matrix.username }} \
            --password-stdin
      - name: Push
        if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_run') && github.ref == 'refs/heads/master' }}
        run: |
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo "${IMAGE_URL}/${IMAGE_NAME}" | tr '[A-Z]' '[a-z]')

          push() {
            local TAG="${1?}"

            echo "IMAGE_ID=${IMAGE_ID}"
            echo TAG="${TAG}"
            echo PLATFORMS="${{ env.PLATFORMS }}"

          docker build \
            --cache-from "type=local,src=/tmp/.buildx-cache" \
            --cache-to "type=local,dest=/tmp/.buildx-cache" \
            --platform  ${{ env.PLATFORMS }} \
            --output "type=image,push=true" \
            --tag "${IMAGE_ID}:${TAG}" \
            --file Dockerfile.${{ matrix.distro }} .
          }

          push "${{ matrix.distro }}"

          [ "${{ matrix.distro }}" == "alpine" ] && push "latest" || exit 0

