name: Upstream sync

on:
  schedule:
    - cron: '0 7 * * 0'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    name: Sync master with upstream
    steps:
    - name: Checkout master
      uses: actions/checkout@v2
      with:
        ref: master
    - name: Pull upstream changes
      id: sync
      uses: aormsby/Fork-Sync-With-Upstream-action@v2.3
      with:
        git_user: "Upstream Sync"
        upstream_repository: docker/compose
        upstream_branch: master
        target_branch: master
        git_pull_args: "--unshallow"

